@font-face {
	font-family: 'Manrope-Regular'; 
	src: url(./decoration/fonts/Manrope-Regular.ttf); 
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none !important;
}

body {
  font-family: 'Manrope-Regular';
  margin-bottom: 10px;
  background: rgb(72,85,99);
  background: linear-gradient(90deg, rgba(72,85,99,1) 0%, rgba(41,50,60,1) 50%);
}


@media screen and (max-width: 850px) {
  body {
      font-size: 0.8rem;
  }
}

.container {
  margin-bottom: 20px;
}